
    <div class="">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <div class="row">
                    <div class="col-6">
                        <img src="../../assets/images/letf-arrow.JPG" alt="" width="30" height="24" class="d-inline-block align-text-top left-arrow">
                    </div>
                    <div class="col-6">
                        <section class="shopping-bag">Shopping Bag(2)</section> 
                    </div>
                </div>
              </a>
            </div>
          </nav>
    </div>

